
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
 div.top-bar {
    display: flex;
    padding-right: 10px;
    align-self: flex-end;
}
span.arriba {
    width: 100%;
    text-align: right;
    font-size: 14px;
    padding: 10px;
}

header .logo img {
    width: 180px; 
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    justify-content: center;
}
nav.indice{
    text-align: center;
    width: 180px;
    height: 50px;
    background-color: #444;
    align-content: center;  
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main .hero img {
    width: 1150px; 
    height: 300px; 
    display: block;
    margin: 20px auto;
}

main .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    padding: 20px;
}

main .card {
    width: 380px;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    order: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

main .card img {
    width: 100%;
    height: 150px; 
    border-radius: 4px;
    object-fit: cover;
}

main .card h3 {
    font-size: 19px;
    margin: 10px 0;
}

main .card p {
    font-size: 14px; 
    color: #555;
}

main .card button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

main .card button:hover {
    background-color: red;
}

footer {
    background-color: red;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5  px; 
    justify-content: center;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
